@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');





*{
margin: 0;
padding:0;


}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
 
}


.attribution { font-size: 11px; text-align: center}
.attribution a { color: hsl(228, 45%, 44%)}

section{
max-height: 900px;
width:300px;
background-color: white;
display:flex;
flex-direction: column;
border: 1px white solid;
border-radius: 20px;

}


p{
color:gray;
font:0.875rem
}
title{
font-family: Montserrat;


}
article{

margin:25px;
}

img{
    width: 300px; /* width of container */
    height: 225px; /* height of container */
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

h1{
font-size: 2.2rem;
margin:5px 0px;
font-family: 'Fraunces', serif;
line-height: 0.9;
}

.describe{
margin:15px 0px;
font-family: 'Montserrat', sans-serif;

}


.price{
display:inline

}

.real{
font-size: 2rem;
color: hsl(158, 36%, 37%);
font-family: 'Fraunces', serif;
padding: 0 15px 0 0
}

.button{
color:white;
background-color: hsl(158, 36%, 37%);
width: 170px;
text-align: center;
font-weight: bold;
margin-top: 15px;
border-radius: 10px;
border:none;
font-size:1rem;


}

a{
    text-decoration: none;
    color:white;
    padding: 10px 40px;
    display: block;
  
}

a:visited{
text-decoration: none;
color:white;
}

a:active{
background-color: hsl(158, 95%, 15%);
border-radius: 10px;
}



@media (min-width: 1440px){

    img{
        width: 400px; /* width of container */
        height: 400px; /* height of container */
        border-radius:  20px 0 0 20px ;
    }

    body{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(30, 38%, 92%);
        max-height: 900px;
     
    }
    section{
    max-height: 900px;
    width: 550px;
    background-color: white;
    display:flex;
    flex-direction: row;
    border: 1px white solid;
    border-radius: 20px;
    
    }

h1{
    margin:30px 0;
    width: 200px;

}

    article{

        margin:30px;
        width: 200px;
        }


    .button{
        color:white;
        background-color: hsl(158, 36%, 37%);
        width: 170px;
        margin:50px 0 0 0;
    }
    a{
        width: 150px;
        padding: 10px 15px;
      
    }


}